// estilos para el carrito de compras 

.bodyCarrito{
     background-color: whitesmoke;
     header{
        h1{
            text-transform: uppercase;
        }
        nav{
            background-color: silver;
            div{
                .menuIndex{
                    ul{
                        li{
                            margin-right: 6rem;
                            a{
                                text-decoration: none;
                                color:black;
                            }
                            .botonCarrito{
                                img{
                                    width: 1.3rem;
                                    height: 1.3rem;
                                }
                            }
                        }
                    }
                }
                
            }
        }
     }
}

.mainPpal{
    .boxCarrito{
        text-align: center;
        .carritoVacio{
            display: flex;
            align-items: center;
            flex-direction: column;
            animation: zoom 2s infinite alternate;
            @keyframes zoom {
                0% {
                    transform: scale(1);
                  }
                  100% {
                    transform: scale(1.2);
                  }  
            }
            img{
                width: 15rem;
                height: 15rem;
            }

        }
        .disabled{
            display:none;
        }

    }   .carritoProductos{
        display: inline-block;
        justify-content: space-around;
            .carritoProducto{
                background-color: rgb(191, 191, 199);
                width: 700px;
                margin: 1rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 1rem;
                border-radius: 1rem;

                
                .imgCarrito{
                    width: 10rem;
                    height: 10rem;
                    border-radius: 20px;
                }
                .carritoProductoTitulo{
                        h3{
                            font-size: 1.5rem;
                        } 
                    
                }
                .carritoProductoEliminar{
                    border: none;
                    background: none;
                    img{
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }

    } .disabled{
        display:none;
    }

.carritoAcciones{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
        .vaciarCarrito{
            background-color: red;
            border-radius: 20rem;
            color: white;
            padding: 0.5rem;
            
        }

        .btnComprar{
            background-color: green;
            border-radius: 20rem;
            color: white;
            padding: 0.5rem;  
            margin-left: .5rem;  
        }

        .accionPrecioTotal{
            display: flex;
            justify-content: center;
            align-items: center;
        }


}